.wrapper_nav {
  display: flex;
  font-weight: $fontWeight400;
  @include font-Options(13px,15px);
  border: 1px solid $lightgrey;
  border-radius: 4px;
  background-color: $backgroundColorGrey;
  height: 53px;
  padding: 10px 5px 10px 7px;
}

.site_nav {
  h4 {
    font-weight: $fontWeight400;
    @include font-Options(30px, 36px);
    margin-bottom: 22px;
    @media screen and (max-width: 480px) {
      font-size: 24px;
    }
  }
}

.site_nav {
  padding: 15px;
  margin: 0 -15px;
}

.button-grid {
  display: inline-block;
  @include options(34px,33px);
  font-size: 18px;
  background-color: $white;
  border: 1px solid $black;
  border-radius: 5px;
  cursor: pointer;
}
.button-list.active,
.button-grid.active {
  background-color: $red;
  border-color: transparent;
}

.button-grid.active .icon-th,
.button-list.active .icon-list {
  color: $white;
}

.icon-th {
  color: $black;
  padding: 8px;
}

.button-list {
  display: inline-block;
  @include options(34px,34px);
  font-size: 18px;
  background-color: $white;
  border: 1px solid $black;
  border-radius: 5px;
  margin-left: 2px;
  cursor: pointer;
}

.icon-list {
  color: $black;
  padding: 7px 8px 8px 8px;
}

.list-items {
  margin: 9px 0 9px 18px;
  flex-grow: 1;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

input.check_page {
  @include options(50px,34px);
  border-radius: 4px;
  font-family: inherit;
  border: $defaultBorder;
  padding: 5px;
}

.check_page {
  ~ span {
    margin-right: 52px;
    @media screen and (max-width: 992px) {
      margin-right: 17px;
    }
  }
}

input.sort_item {
  @include options(120px,34px);
  border-radius: 4px;
  font-family: inherit;
  border: $defaultBorder;
  padding: 5px;
  margin-right: 6px;
  margin-left: 4px;

  @media screen and (max-width: 480px) {
    width: 40px;
  }
}

.long-arrow {
  font-size: 18px;
  margin-top: 6px;
}

.row_item_product {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 15px 0;
}

.row_item_product {
  li {
    list-style-type: none;
  }
}


.row_item_product {
  li:hover {
    z-index: 111;
  }
}


.item-product {
  width: calc(100% / 3);
  padding: 15px;
}

.img-product {
  display: block;
  border-bottom: 1px solid #E5E5E5;
  width: 100%;
}

.product-sale {
  @extend %flexColumn;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}

.item-product {
  del {
    display: inline-block;
    color: $grey;
    margin-left: 15px;
  }
}

.new_price {
  color: $red;
  font-weight: 500;
  @include font-Options(18px,23px);
}

.review_stars_wrap {
  overflow: hidden;
}

.review_stars {
  overflow: hidden;
  position: relative;
  float: left;
  padding: 5px 0 10px;
}

.review_stars {
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 0;
  }
}

.review_stars input {
  ~ label i {
    color: $lightgrey;
  }
}

.review_stars {
  input:checked ~ label i {
    color: $orange;
  }

  .review_stars {
    label {
      float: right;
      cursor: pointer;
      position: relative;
      z-index: 1;
    }
  }

  .review_stars label:hover i, .review_stars label:hover ~ label i {
    color: $orange;
  }

  .flag_sale {
    @include options(60px,30px);
    line-height: 30px;
    @include position(absolute,15px,-8px);
    background: $red;
    color: $white;
    text-align: center;
    z-index: 2;
  }

  .flag_sale:before, .flag_sale:after {
    content: "";
    position: absolute;
  }

  .flag_sale:before {
    @include options(0,0);
    bottom: -9px;
    left: 0.1px;
    border-bottom: 9px solid transparent;
    border-right: 9px solid #950C20;
  }

  .flag_new1 {
    @include options(60px,30px);
    line-height: 30px;
    @include position-right(absolute,-8px,15px);
    background: $bgColorFlagNew;
    color: $white;
    text-align: center;
  }

  .flag_new1:before, .flag_new1:after {
    content: "";
    position: absolute;
  }

  .flag_new1:before {
    @include options(0,0);
    bottom: -9px;
    right: 0.1px;
    border-left: 9px solid $bgColorFlagNew;
    border-bottom: 9px solid transparent;
  }

  .hidden-content {
    @include options(100%,40px);
    @extend %displayFlex;
    flex-wrap: nowrap;
  }

  .hidden-add-cart {
    flex-grow: 1;
    background-color: $black;
    color: $white;
    border: none;
  }

  .hidden-wish {
    padding: 0;
    background-color: $black;
    color: $white;
    border: none;
    border-right: 1px solid $white;
  }

  .hidden-heart {
    padding: 12px;
    color: $white;
  }

  .hidden-heart{
    &:hover {
      color: $white;
    }
  }

  .hidden-refresh {
    padding: 12px;
    @include background-color($black,$white);
    border: none;
    border-left: 1px solid $white;
  }

  .hidden-content {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
  }

  .card {
    border: 1px solid #E5E5E5;
    position: relative;
    z-index: 1;
  }

  .card:before {
    content: '';
    display: block;
    @include position(absolute,0,0);
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    background-color: $white;
    transition: $transition;
  }

  .item-product:hover {
    .card:before {
      bottom: -40px;
      opacity: 1;
    }
  }

  .item-product:hover {
    .card {
      border: none;
    }

  }

  .item-product:hover {
    .hidden-content {
      visibility: visible;
      pointer-events: visible;
      transition: $transition;
    }
  }

  .hidden-wish:hover,
  .hidden-add-cart:hover,
  .hidden-refresh:hover {
    background-color: $red;
    transition: $transition;
  }

  .product-sale {
    transform: translateY(0);
    transition: $transition;
  }

  .item-product:hover {
    .product-sale {
      transform: translateY(40px);
      z-index: 1;
    }
  }

  .row_item_product{
    &.grid {
      display: block;
      width: 100%;
      padding-right: 0;
    }
  }

  .row_item_product.grid {
    .item-product {
      width: 100%;
    }
  }


  .row_item_product {
    &.grid {
      .card {
        @extend %displayFlex;
        justify-content: start;
        align-items: start;
        padding: 15px;
      }
    }
  }


  .row_item_product {
    &.grid {
      .product-sale {
        @extend %flexColumn;
        transform: none;
        transition: none;
        padding: 30px 10px 120px 10px;
        order: 1;
        align-items: flex-start;
        flex-grow: 1;
        @media screen and (max-width: 480px) {
          align-items: center;
        }
      }
    }
  }


  .row_item_product {
    &.grid {
      .wrapper-sale {
        @extend %flexColumn;
        width: 100%;
      }
    }
  }


  .row_item_product {
    &.grid {
      .img-product {
        border-bottom: none;
        width: 50%;
      }
    }
  }

  .row_item_product{
    &.grid {
    .card:before {
      display: none;
      bottom: 0;
      }
    }
  }

  .row_item_product {
    &.grid {
      .item-product:not(.card):hover {
        .card {
          border: 1px solid #E5E5E5;
        }
      }
    }
  }

  .row_item_product {
    &.grid {
      .hidden-content {
        @extend %displayFlex;
        order: 2;
        visibility: visible;
        position: static;
        padding-left: 20px;

        @media screen and (max-width: 480px) {
          margin-left: -70px;
        }
      }
    }
  }

  .row_item_product {
    &.grid {
      .hidden-add-cart {
        padding: 10px 20px;
        order: 2;
        margin-left: auto;
        flex-grow: 0;
      }
    }
  }

  .row_item_product {
    &.grid {
    .hidden-refresh {
      padding: 13px 13px;
      order: 1;
      }
    }
  }

  @media screen and (max-width: 767px) {

    .site_nav h4 {
      margin-left: 15px;
      font-size: 26px;
    }

    div.col-3 {
      width: 100%;
    }

    .item-product {
      width: calc(100% / 2);
    }

    input.sort_item {
      width: 80px;
      height: auto;
    }

    .list-items {
      margin: 5px 0 9px 2px;
    }

    input.check_page {
      width: 20px;
      height: auto;
    }

    .check_page ~ span {
      margin-right: 5px;
    }

    .row_item_product{
      &.grid {
        .product-sale {
          padding-bottom: 80px;
        }
      }
    }

    .row_item_product {
      &.grid {
        .hidden-add-cart {
          padding: 5px 5px;
        }
      }
    }

    .row_item_product {
      &.grid {
        .hidden-refresh {
          margin-right: 1px;
        }
      }
    }

    .hidden-content .hidden-heart {
      color: $white;
    }
  }
}