@font-face {
    font-family: $fontsFamilyRubik;
    src: url('#{$pathFontRegular}.eot');
    src: url('#{$pathFontRegular}.eot?#iefix') format('embedded-opentype'),
    url('#{$pathFontRegular}.woff') format('woff'),
    url('#{$pathFontRegular}.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: $fontsFamilyRubik;
    src: url('../fonts/Rubik-2/Rubik-Medium.eot');
    src: url('../fonts/Rubik-2/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-2/Rubik-Medium.woff') format('woff'),
    url('../fonts/Rubik-2/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: $fontsFamilyRubik;
    src: url('../fonts/Rubik-2/Rubik-Bold.eot');
    src: url('../fonts/Rubik-2/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-2/Rubik-Bold.woff') format('woff'),
    url('../fonts/Rubik-2/Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Font Awesome';
    src: url('/webfonts/fa-brands-400.svg');
    font-weight: normal;
    font-style: normal;
}