.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-weight: normal;
  justify-content: space-between;
  font-size: 14px;
  line-height: 23px;
  padding: 73px 10px 15px 10px;
}
.footer-list > li {
  list-style-type: none;
  padding: 10px 0;
  position: relative;
}
.footer-contact .footer-list li:nth-child(1) {
  padding-left: 32px;
}
.marker {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.footer-location {
  padding-right: 86px;
}

.footer-custom-service {
  padding-right: 53px;
}

.footer-inform {
  padding-right: 13px;
}

.footer-contact i {
  padding-right: 13px;
  color: $red;
  font-size: 22px;
}

.footer-contact .wrap {
  padding-left: 24px;
  padding-bottom: 0;
}

.footer-content h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 20px;
}

footer {
  margin-top: 15px;
  background-color: rgba(10, 9, 9, 0.932);
  color: #DDDDDD;
}

.payment-footer {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  height: 84px;
  background-color: rgba(10, 9, 9, 0.979);
  padding: 25px 10px 0 28px
}

.payments-icons img {
  border: 1px solid #DDDDDD;
  margin-right: 10px;
}

.payments-icons {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.copyright {
  text-align: center;
  font-size: 13px;
  line-height: $lineHeight;
  color: #BBBBBB;
}