.row {
  display: flex;
  flex-wrap: wrap;
  margin: -27px -15px 0;
}

.col {
  padding: 15px;
}

.col-1 {
  width: calc(100% / 4);
}

.col-2 {
  width: calc(100% / 4 * 2);
}

.col-3 {
  width: calc(100% / 4 * 3);
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  list-style-type: none;
  position: relative;
  margin-top: -45px;
}

.signElem {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

.menu li a {
  text-decoration: none;
  color: $black;
  font-size: $fontSize;
  font-weight: 700;
  line-height: 17px;
  display: block;
  padding: 18px 20px 17px 17px;
  @media screen and (max-width: 992px) {
    padding: 17px 5px 17px;
  }

}

.angle-down3 {
  padding-left: 8px;
}

.allCategories {
  list-style-type: none;
}

#menu_toggle1 {
  @extend #aside_toggle;
  @include options(0,0);
  @extend %hidden;
  overflow: hidden;
}

.btn-aside-mob {
  @include options(0,0);
  @extend %hidden;
  overflow: hidden;
}

.first {
  position: relative;
  height: 55px;
  cursor: pointer;
  margin-top: -22px;
}

.allCategories li a {
  text-decoration: none;
  color: $white;
  background-color: $red;
  display: block;
  padding: 18px 0 15px 18px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  border-radius: 8px 8px 0 0;
}

.allCategories span,
.allCategories span:before,
.allCategories span:after {
  position: absolute;
  @include options(15px,2px);
  width: 15px;
  height: 2px;
  background-color: $white;
  display: inline-block;
  @media screen and (max-width: 992px) {
    right: 10px;
  }
}

.allCategories span:after {
  content: "";
  top: 4px;
  right: 0;
}

.allCategories span {
  right: 22px;
  top: 25px;
}

.allCategories span:before {
  content: "";
  top: -4px;
  right: 0;
}

.submenu1 {
  list-style-type: none;
}

.submenu1 li a {
  background-color: $white;
  list-style-type: none;
  color: $black;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
  border-radius: 0;
}

.submenu1 {
  @extend %hidden;
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
}

.first:hover .submenu1 {
  @extend %visible;
  background: $white;
  box-shadow: 0 2px 10px 3px;
  color: $lightgrey;
  overflow: auto;
  height: calc(100vh - 210px);
  max-height: 508px;
  cursor: pointer;
  z-index: 3;
}

.submenu1 li a:hover,
.submenu li a:hover {
  color: $red;
}

.main-menu.submenu li a,
.submenu2 li a,
.submenu3 li a,
.submenu4 li a,
.submenu5 li a {
  list-style-type: none;
  color: $black;
  @extend %fonts;
  padding: 8px;
}

.main-menu .submenu li a {
  padding: 10px;
}

.submenu li {
  list-style-type: none;
}

div.submenu {
  @extend %displayFlex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 508px;
  padding: 15px;
  @extend %fonts;
  cursor: pointer;
  z-index: 3;
}

.submenu {
  @extend %hidden;
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
  cursor: pointer;
}

.submenu > ul {
  width: 50%;
  margin-top: 10px;

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-top: 10px;
  }
}

.submenu h4 {
  padding: 5px 25px;
  margin: 5px 0;
}

.menu li:hover .submenu {
  @extend %visible;
  background: $white;
  box-shadow: $boxShadow;
}

.main-menu {
  margin-top: -22px;
}

#menu_toggle {
  opacity: 0;
}
@media screen and (max-width: 767px) {
  .allCategories span {
    top: 16px;
  }

  .allCategories {
    width: 150px;
  }

  .menu_btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 20px;
    @include options(26px,26px);
    cursor: pointer;
    z-index: 5;
  }

  .menu_btn > span,
  .menu_btn > span::before,
  .menu_btn > span::after {
    display: block;
    position: absolute;
    @include options(100%,2px);
    background-color: $lightgrey;
  }

  .menu_btn > span::before {
    content: "";
    top: -8px;
  }

  .menu_btn > span::after {
    content: "";
    top: 8px;
  }

  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    @include options(100%,100vh);
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    overflow: auto;
    margin: 0;
    padding: 50px 0;
    text-align: left;
    background-color: $white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 4;
  }

  .menu-item {
    padding: 12px 24px;
    color: $black;
    font-size: $fontSize;
    line-height: 17px;
    font-weight: 600;
    width: 100%;
  }

  .menu li a {
    padding: 15px 25px;
  }

  #menu_toggle:checked ~ .menu_btn > span {
    transform: rotate(45deg);
  }

  #menu_toggle:checked ~ .menu_btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu_toggle:checked ~ .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu_toggle:checked ~ .menu {
    visibility: visible;
    left: 0;
  }
  .menu li > .submenu {
    @include options(100%,100vh);
    padding-left: 5%;
    z-index: 3;
    overflow: auto;
    font-size: 20px;
    font-weight: 400;
    background-color: $white;
  }

  .menu li:hover > .submenu {
    top: 0;
    @include options(100%,100%);
    padding-top: 30px;
  }

  .allCategories li a {
    padding: 8px 0 8px 5px;
  }
  .submenu1 {
    top: 34px;
    width: 200px;
  }

  .submenu h4 {
    font-size: 16px;
  }

  .submenu li a {
    padding: 7px 25px;
  }

  .first {
    margin-top: 11px;
    margin-left: 15px;
  }

  .first .menu-item {
    font-size: 11px;
  }

  .allCategories span {
    visibility: hidden;
  }
}