.modal-wp {
  position: absolute;
  @extend %position;
  height: 100vh;
  display: none;

  &.open {
    display: block;
  }

  .modal-bg {
    position: fixed;
    @extend %position;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    cursor: pointer;
  }

  .modal {
    @extend %position-absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 100;
    width: 300px;
    border: $borderDefault;
    border-radius: 6px;
    padding: 15px;

    .modal-content {
      padding: 30px;
      text-align: center;
      font-size: 18px;
    }

     .modal-header {
       position: relative;

        h3 {
         text-align: center;
         text-transform: uppercase;
         margin: 0;
       }

        a {
          @extend %primary-btn;
         border: $borderDefault;
         display: block;
         position: absolute;
         bottom: 6%;
         right: 5%;
       }
    }

    .modal-footer {

       a {
         @extend %primary-btn;
         border: $borderDefault;
        position: relative;
      }
    }

  }
}

.modal-action {
  width: 70px;
  height: 30px;
  background-color: mediumseagreen;
  border: 1px solid mediumseagreen;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}
.modal-change {
  width: 100px;
  height: 20px;
  border-radius: 6px;
  border: $borderDefault;
  outline: none;

}