@font-face {
    font-family: 'Oswald Regular';
    src: url('../fonts/Oswald-2/Oswald-Regular.eot');
    src: url('../fonts/Oswald-2/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-2/Oswald-Regular.woff') format('woff'),
    url('../fonts/Oswald-2/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald Medium';
    src: url('../fonts/Oswald-2/Oswald-Medium.eot');
    src: url('../fonts/Oswald-2/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-2/Oswald-Medium.woff') format('woff'),
    url('../fonts/Oswald-2/Oswald-Medium.ttf') format('truetype');
    font-weight: normal;
    font-size: 18px;
    font-style: normal;
}
