* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 23px;
    font-size: 14px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: flex-end;
    height: 43px;
    max-width: 1200px;
    padding-top: 10px;
    margin: 0 auto;
}

.tabLang{
    position: relative;
}
.tabLang > label{
    display: block;
    padding: 0 10px;
    cursor: pointer;
}
.tab-currency > label{
    display: block;
    padding: 0 10px;
    cursor: pointer;
}
.tabLang input,
.tab-currency input {
    display: none;
}
.tabLang .tab-otherLang{
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
    transition: all .5s ease-in-out;
}
.tab-currency .currencyList{
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
    transition: all .5s ease-in-out;
}
.tab-otherLang{
    overflow: visible;
}

#lang:checked ~ .lang{
    opacity: 1;
    height: 100px;
    padding: 5px;
    visibility: visible;
}
.tabLang .tab-otherLang{
    position: absolute;
    top: 100%;
    left: 5%;
    background-color: white;
    display: block;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px 1px lightgray ;
    z-index: 1;
}

.currencyList{
    overflow: visible;
}
#currency:checked ~ .currency {
    opacity: 1;
    height: 60px;
    padding: 5px;
    visibility: visible;
}

.tab-currency{
    position: relative;
}
.currencyList{
    background-color: white;
    display: block;
    position: absolute;
    top: 100%;
    left: 20%;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px 1px lightgray ;
    z-index: 1;

}
 .tabLang .tab-otherLang a,
 .tab-currency .currencyList a{
    background-color: lightgrey;
    padding: 1px;
}
.currencyList{
    padding: 1px 10px 1px;
}

.main-header span {
    color: white;
    padding: 0 10px;
}

.main-header .sign2 {
    padding: 0 10px 10px 0;
}

.main-header a {
    text-decoration: none;
    color: white;
    padding: 10px 12px;
}

.main-header a:hover {
    color: red;
}

.main-header .item-header {
    padding-right: 20px;
}

.background-header {
    background-color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    max-width: 1200px;
    justify-content: left;
}

.col {
    padding: 15px;
}

.col-1 {
    width: calc(100% / 4);
}

.col-3 {
    width: 75%;
}

.allCategories li a {
    text-decoration: none;
    color: white;
}

.first {
    list-style-type: none;
    background-color: red;
    padding: 15px;
    border-radius: 8px 8px 0 0;
}
.main-menu1 .allCategories >li > a:nth-child(1){
    padding: 15px 80px 5px 30px;
}
.main-menu1{
    margin-left: -15%;
}
.logo {
    padding-top: 30px;
}

.subHeader input {
    padding-left: 50px;
    width: 515px;
}

form {
    display: flex;
    flex-wrap: nowrap;
    /*height: 44px;*/
    width: 500px;
    padding-top: 40px;
}

form div {
    background: red no-repeat center;
    width: 44px;
    border-radius: 0 5px 5px 0;
}

.subHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.wishlist {
    display: block;
    padding-left: 30px;
    padding-top: 40px;
}

.cart {
    margin-top: 40px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 120px;
    position: relative;
    width: 160px;
}

.cart p {
    padding: 10px 1px 0 20px;
}

.cart p span {
    color: red;
}

.item-basket {
    padding: 10px 1px 0 10px;
}

.searchBtn {
    padding: 15px 12px 10px;
}

.count {
    background: red center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -22%;
    right: 61%;
}

.ellipse {
    padding: 5px 6px 2px;
}


nav.main-menu .menu,
nav.main-menu1 .allCategories{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 30px 0 0;
}

nav.main-menu .menu li,
nav.main-menu1 .allCategories li {
    list-style-type: none;
    padding: 0;
}
div.submenu > ul > li > a{
    text-decoration: none;
    color: black;
}

nav.main-menu .menu > li > a,
nav.main-menu1 .allCategories > li > a{
    text-decoration: none;
    display: block;
    padding: 15px 20px 5px 20px;
    border: 1px solid transparent;
    color: black;
    cursor: pointer;
}

.menu .submenu > li > a,
.allCategories .submenu1 > li > a{
    text-decoration: none;
    display: block;
    border: 5px solid transparent;
    height: 100%;
    box-sizing: border-box;
    color: black;
}

nav.main-menu .menu,
nav.main-menu1 .allCategories{
    position: relative;
}

nav.main-menu1 .allCategories ul.submenu1{
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
    transition: all 0.5s ease-out;
    position: absolute;
    top: 100%;
    width: 100%;
}
nav.main-menu .menu div.submenu{
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
    transition: all 0.5s ease-out;
    position: absolute;
    top: 100%;
    width: 100%;
}

.menu > li:hover > div.submenu{
    opacity: 1;
    padding: 15px;
    visibility: visible;
    overflow: auto;
    min-height: 300px;
    background-color: white;
    border: #cccccc;
    box-shadow: 2px 4px 10px lightgray;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}
.allCategories > li:hover > ul.submenu1{
    opacity: 1;
    padding: 15px;
    visibility: visible;
    overflow: auto;
    min-height: 500px;
    background-color: white;
    border: #cccccc;
    box-shadow: 2px 4px 10px lightgray;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}
div.submenu div.submenu2{
    position: absolute;
    right: 55%;
    top: 40%;
}

div.submenu div.submenu3{
    position: absolute;
    right: 30%;
    top: 10%;
}

div.submenu div.submenu2 > li > a,
div.submenu div.submenu3 > li > a{
    text-decoration: none;
    color: black;
}



