@import "header/header";


@include respons(767px) {
    body {
        background-color: red;
    }
};

.menu {
    @include border(3px);
    @include shadow(0 0 15px 15px black);
    &__item {
        color: black;
    }
    
    &__linck {
    
    }
}

.menu {
    @include large-text($color: blue);
    padding: 15px;
}
.text {
    @include large-text(30px, black);
}

a {
    color: black;
    
    &:hover {
        color: $red;
    }
    
    & > .level-1 {
        color: $red;
    }
}
$translucent-red: rgba(255, 0, 0, 0.5);
body {
    .modal {
        background-color: transparentize($translucent-red, 0.2) // opacify($translucent-red, 0.4);
    }
}


