*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: normal;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 px;
}

 .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    list-style-type:none;
    background: rgba(129, 206, 28, 0.5);
    border-bottom: 2px solid rgb(12, 27, 5);

}
.menu li {
    position: relative;;
}


.menu > li > a {
    text-decoration: none;
    display: block;
    padding: 15px 50px 15px;
    transition: all .5s ease-in-out;
    color: rgb(12, 27, 5);

}

.submenu > li{
    list-style: none;
}

.submenu > li > a {
    text-decoration: none;
    display: block;
    padding: 5px;
    transition: all .5s ease-in-out;
    color: rgb(12, 27, 5);
    border-bottom: 1px solid rgba(241, 209, 159, 0.1);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.menu li > .submenu {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    background-color: rgba(210, 214, 175, 0.9);
    left: 0;
    right: 0;
    width: 300px;
    opacity: 0;
    transition: all .5s  ease-in-out;
        ion: all .5s  ease-in-out;
    -moz-transition: all .5s  ease-in-out;
    -ms-transition: all .5s  ease-in-out;
    -o-transition: all .5s  ease-in-out;
}
.menu li:hover > .submenu{
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    width: 250px;
    z-index: 1;

}
.menu li > .submenu.level-2,
 .menu li >.submenu.level-3{
    top: 0;
    left: 100%;
    width: 100%;
}
a.arrow-1,a.arrow-2{
    position: relative;
}

 a.arrow-1:after {
     content: '\232A';
     position: absolute;
     left: 240px;

}
a.arrow-1:hover:after {
    content: '\232A';
    position: absolute;
    left: 93%;
    transform: rotate(180deg);
}
.hamburger-menu [type="checkbox"]{
    display: none;
}
.background-title {
    height: 500px;
    background: url('https://www.thebodyshop.ru/media/blog/blog-top4.jpg') center no-repeat;
    position: relative;
}
.news{
    position: absolute;
    width: 1060px;
    background-color: white;
    top: 320px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 1.2;
    padding: 60px 15px;
}
.news h1 {
    margin: 15px 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.news strong {
    font-size: 29px;
    font-weight: 400;

}
.nav ul {
    display: flex;
    justify-content:center;
    align-items: center;
    list-style-type: none;
    margin: 10px 40px;
}
.nav{
    position: relative;

}
.nav li a {
    display: block;
    padding: 50px 70px;
    transition: all .5s ease-in-out;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    font-size: 16px;
}
.blog_item_list  li{
    list-style-type: none;
}
.blog-item{
    width: 1140px;
    margin: 0 auto;

}
 .blog_item_list {
    display: flex;
    flex-wrap: wrap;
 }
.blog-item li:nth-child(-n+2){
    width: 50%;
    padding: 0 10px 40px;
    align-self: flex-start;

}
 a.blog-img {
    display: block;
    width: 100%;
    padding-top: 54%;
    background: no-repeat;
    background-position: center;
    background-size: cover;

}
.blog-img-tittle {
    position: relative;
}

.blog-img-tittle h3 {
    position: absolute;
    bottom: 0;
    height: 77px;
    background-color: rgba(116, 107, 107, 0.4);
    width: 100%;
    color: white;
    padding: 10px 15px;
    text-align: left;
    font-size: 22px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

}
.blog-img-tittle a {
    text-decoration: none;
    color: white;

}
.blog-item-prod p{
    display: inline-block;
    margin: 30px 10px 10px;
    font-size: 18px;
    line-height: 24px;
    padding: 0 7px;
    width: calc(100% - 180px);


}
.blog-content a.btn {
    border: 2px solid black;
    background-color: white;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
    width: 150px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 7%;
}
.blog-content a.btn:hover {
    background-color: black;
    color: white;
}

 ul .blog-item-prod:nth-child(3){
    width: 100%;
    padding-bottom: 60px;
    position: relative;


}
.blog-img-2 {
    background: url('https://www.thebodyshop.ru/media/blog/6614/webimages-make-up-brush-range-increps012-m-r.jpg') center center/cover no-repeat;
    display: block;
    width: 66%;
    padding-top: 38%;

}
.blog-content-brash {
    width: 44%;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.3;
    padding-left: 20px;
    position: absolute;
    left: 65%;
    top: 20%;


}
.blog-content-brash h3{
   padding-left: 15px;
    font-size: 24px;
}

.blog-content-brash p {
    padding-top: 5px;
    font-size: 18px;
    line-height: 20px;
    padding-left: 5px;
}
.btn-1{
    border: 2px solid black;
    background-color: white;
    padding: 12px 31px;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 7%;
    bottom: -30%;
    font-size: 16px;
}
.btn-1:hover{
    background-color: black;
    color: white;
}
.blog-item-prod:nth-child(n+4):nth-child(-n+6){
    width: 33.33%;
    padding: 0 5px 40px;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}
.blog-img-3 {
    background: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 59%;
    width: 100%;
    display: block;
}

.blog-content-new h3{
    padding: 5px;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;

}
.blog-content-new p{
    margin-top: 5px;
    padding:10px;
    padding-bottom: 40px;
    flex-grow: 2;
    font-size: 18px;
    line-height: 1.4;
    width: 100%;
}

.btn-2 {
    border: 2px solid black;
    background-color: white;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
    margin-left: 30%;
}
.btn-2:hover{
    background-color: black;
    color: white;
}
.blog-item li:nth-child(n+7):nth-child(-n+8){
    width: 50%;
    padding: 10px 10px 40px;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;

}
 .blog-img4 {
    display: block;
    width: 100%;
    padding-top: 54%;
    background: no-repeat;
    background-position: center;
    background-size: cover;
}

.blog-img-tittle1 h3 {
    margin-top: -77px;
    height: 77px;
    background-color: rgba(116, 107, 107, 0.4);
    width: 100%;
    color: white;
    padding: 10px 15px;
    text-align: left;
    font-size: 22px;
    text-transform: uppercase;
    align-items: center;
}

.blog-img-tittle1 a {
    text-decoration: none;
    color: white;

}
.item-product-care a {
    text-decoration: none;
    color: white;

}
.blog-care-btn p {
    display: inline-block;
    margin: 30px 10px 10px;
    font-size: 18px;
    line-height: 24px;
    padding: 0 7px;
    width: calc(100% - 180px);
}
.blog-care-btn a.btn-3 {
    border: 2px solid black;
    background-color: white;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
    width: 150px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 7%;
}
.blog-care-btn a.btn-3:hover {
    background-color: black;
    color: white;
}
.sect-footer{
    border-top: 1px solid rgba(192, 181, 181, 0.6);

}

.row-footer {
    display: flex;
    flex-wrap: nowrap;
    width: 1060px;
    margin: 0 auto;
    padding-top: 40px;
}

.col-2{
    width: calc(100% / 3);
}
.col-2{
    width: calc(100% / 3);
}
.col-2{
    width: calc(100% / 3);
    padding-right: 50px;
}
.row-footer .footer h6 {
    padding-bottom: 10px;
    text-transform: uppercase;
    margin: 0;
    font-size: 15px;
}
 .row-footer .footer > a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 3px;
    font-size: 14px;

}
 .catalog-footer li a{
     text-decoration: none;
     color: black;

 }
 .catalog-footer li {
     list-style: none;
 }
.footer-inform{
    margin-left: 150px;
}
.footer-inform h6 {
    padding-bottom: 10px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    font-size: 15px;
}
.footer-inform input {
    border: 1px solid black;
    color: black;
    padding: 12px 30px 12px 10px;
    font-size: 15px;

}
.footer-inform .btn-footer {
    margin-left: -5px;
    background-color:black;
    padding: 15px 25px 13px;
    text-decoration: none;
    color:white;
    font-size: 14px;

}
.footer-inform p {
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: black;
    padding: 8px 10px 0 10px;

}
.support {
    margin:20px 0;
}
.footer-inform a[href*="mailto"] {
    color: black;
    font-size: 14px;
    display: block;
    padding-top: 10px;
}
.social  a {
    padding-right: 50px;
}
.social {
    padding: 15px 0;
}
    .hamburger-menu [type="checkbox"]{
        display: none;
    }
    @media screen and (max-width:767px){
    #menu_toggle {
        opacity: 0;
    }
    .menu_btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 2;
    }
    .menu_btn > span{
        display: block;
        height: 7px;
        width: 30px;
        margin-bottom: 2px;
        background-color: black;
        transition: all .5s ease-out;

    }
    .menu_btn > span,
    .menu_btn > span::before,
    .menu_btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: black;
        transition-duration: .25s;
    }
    .menu_btn > span::before {
        content: '';
        top: -8px;
    }
    .menu_btn > span::after {
        content: '';
        top: 8px;
    }
    .menu_box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        overflow: visible;
        margin: 0;
        padding: 80px 0;
        z-index: 1;
        text-align: left;
        transition-duration: .25s;
        background-color: white;
    }

    .menu-item {
        padding: 12px 24px;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        width: 100%;
        border: 1px solid rgba(210, 214, 175, 0.5);
        transition-duration: .25s;
    }
    .menu-item:hover{
        background-color: rgba(204, 224, 172, 0.3);

    }

    #menu_toggle:checked ~ .menu_btn > span {
        transform: rotate(45deg);
    }
    #menu_toggle:checked ~ .menu_btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu_toggle:checked ~ .menu_btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu_toggle:checked ~ .menu_box {
        visibility: visible;
        left: 0;
    }
    .menu li {
        position: relative;;
        }
        .menu li > .submenu.level-2,
        .menu li > .submenu.level-3{
        top: 0;
        left: 1%;
        width: 100%;
        height: 100%;
        transition: none;

    }
    .menu li > .submenu{
        width: 100%;
        height: 100vh;
        padding-left: 5%;
        z-index: 3;
        overflow: hidden;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        background-color: white;
        transition: all .5s ease-in-out;

    }

     .menu li:hover > .submenu{
        width: 100%;
        height: 100%;
        position: relative;
        transition: all .5s  ease-in-out;
    }
    a.arrow-1,a.arrow-2{
        position: relative;
    }

    .menu-item:after {
        content: '\232A';
        position: absolute;
        right: 2%;

    }

    a.arrow-1:after {
        content: '\232A';
        position: absolute;
        left: 91%;
    }

    .menu-item:hover:after {
        content: '\232A';
        position: absolute;
        right: 5%;
        transform: rotate(180deg);

    }

    a.arrow-1:hover:after {
        content: '\232A';
        position: absolute;
        left: 91%;
        transform: rotate(180deg);
    }
    .submenu > li > a {
        text-decoration: none;
        display: block;
        padding: 5px;
        transition: all .5s ease-in-out;
        color: rgb(12, 27, 5);
        border-bottom: 1px solid rgba(241, 209, 159, 0.1);

    }
    .wrapper-mobile{
        max-width: 767px;
        margin: 0 auto;
        font-size: 16px;
    }
    .background-title{
        max-width: 767px;
    }
    .news {
        width: 767px;
    }
    .nav li a{
        padding: 40px 10px;
    }
    .nav{
        display: flex;
        justify-content: space-around;
    }
        .blog-item{
            max-width: 767px;
            margin: 0 auto;
            font-size: 16px;
        }
        .blog_item_list {
            display: flex;
            flex-wrap: wrap;
        }

    .blog-item li:first-child {
        width: 100%;
        padding: 0 10px 40px;
        align-self: center;
        font-size: 16px;
    }
        .blog-img-tittle h3{
            position: static;
            color: black;
        }

        .blog-img-tittle h3{
            background-color: white;
        }
        .blog-img-tittle a{
            color: black;
        }

        .blog-item li:nth-child(2) {
            width: 100%;
            padding: 0 10px 40px;
            align-self: center;
            font-size: 16px;
        }
        .blog-item-prod p{
            display: block;
            width: 100%;
            margin-top: 5px;
            padding-top: 5px;
        }
        .blog-content a.btn{
            float: right;
            margin-right: 20px;
        }
        .blog-content-brash{
            position: unset;
            width: 100%;
        }
        .blog-content-brash h3{
            padding-top: 10px;
    }
       .blog-content-brash p{
           display: block;
           margin-top: 10px;
           margin-left: 0;
           width: 100%;
           padding-bottom: 20px;
        }

    .blog-item li:nth-child(3){
        width: 100%;
        display: block;
        padding-bottom: 30px;
        font-size: 14px;
    }
    .blog-img-2{
        width: 100%;
    }
    .btn-1{
        position: unset;
        font-size: 16px;
        margin-right: 20px;
        float: right;
    }
        .blog-item-prod:nth-child(n+4):nth-child(-n+6){
            width: 100%;
            display: block;
            padding-bottom: 30px;
        }
        .btn-2,
        .btn-3{
            float: right;
            margin-right: 20px;
        }
        .blog-content-new p{
            padding-bottom: 5px;
        }
        .blog-item li:nth-child(n+7):nth-child(-n+8){
            width: 100%;
            display: block;
            padding-bottom: 30px;
        }
        .blog-img-tittle1 h3{
            position: static;
            color: black;
            padding-bottom: 0;
        }
        .blog-img-tittle1 h3{
            background-color: white;
        }
        .blog-img-tittle1 a{
            color: black;
        }
        .blog-img-tittle1 p{
            margin: 0;
        }
        .sect-footer{
            max-width: 767px;
            margin: 0 auto;
        }
        .row-footer{
            display:block;
        }
        .catalog-footer {
            display:block;
            visibility: hidden;
            overflow: hidden;
            transition: all .5s  ease-in-out;
            left: -300px;
            right: 0;
            width: 100%;
            height:100vh;
            position:absolute;

        }
        .row-footer .footer h6{
            border: 1px solid rgba(210, 214, 175, 0.5);
            display:block;
            padding:15px 20px;
        }
        div.col-2{
            width:100%;
        }
        h6:hover ~ .catalog-footer {
            visibility: visible;
            opacity: 1;
            width: 100%;
            height:100vh;
            left:0;
            z-index: 1;
        }
        .catalog-footer li > a{
            display:block;
            padding:5px;
        }
        .catalog-footer li{
            display:block;
            position:relative;
        }
        .footer-inform{
            display: block;
            width: 100%;
            margin-left:20px;
            padding-top:20px;
        }
        section.sect-footer{
            border-top:none;
        }
        div.row-footer{
            padding-top:0;
        }


    }
