*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: normal;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 px;
}

 .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    list-style-type:none;
    background: rgba(129, 206, 28, 0.5);
    border-bottom: 2px solid rgb(12, 27, 5);
    
}
.menu li {
    position: relative;;
}


.menu > li > a {
    text-decoration: none;
    display: block;
    padding: 15px 50px 15px;
    transition: all .5s ease-in-out;
    color: rgb(12, 27, 5);
    
}

.submenu > li{
    list-style: none;
}

.submenu > li > a {
    text-decoration: none;
    display: block;
    padding: 5px;
    transition: all .5s linear;
    color: rgb(12, 27, 5);
    border-bottom: 1px solid rgba(241, 209, 159, 0.1);
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
}
.menu li > .submenu {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    background-color: rgba(210, 214, 175, 0.9);
    left: 0;
    right: 0;
    width: 300px;
    opacity: 0;
    transition: all .5s  linear;
    -webkit-transition: all .5s  linear;
    -moz-transition: all .5s  linear;
    -ms-transition: all .5s  linear;
    -o-transition: all .5s  linear;
}
.menu li:hover > .submenu{
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    width: 250px;
    z-index: 1;
    
    
}
.menu li > .submenu.level-2,
 .menu li >.submenu.level-3{ 
    top: 0;
    left: 100%;
    width: 100%;
}
a.arrow-1,a.arrow-2{
    position: relative;
}
 
 a.arrow-1:after {
     content: '\232A';
     position: absolute;
     left: 240px;
     
}
.background-title {
    height: 500px;
    background: url('https://www.thebodyshop.ru/media/blog/blog-top4.jpg') center no-repeat;
    position: relative;
}
.news{
    position: absolute;
    width: 1060px;
    background-color: white;
    top: 320px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 1.2;
    padding: 60px 15px;
}
.news h1 {
    margin: 15px 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.news strong {
    font-size: 29px;
    font-weight: 400;
 
}
.nav ul {
    display: flex;
    justify-content:center;
    align-items: center;
    list-style-type: none;
    margin: 10px 40px;
}
.nav{
    position: relative;
   
}
.nav li a {
    display: block;
    padding: 50px 70px;
    transition: all .5s ease-in-out;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    
}
.row-blog-content{
    display: flex;
    flex-wrap: nowrap;
    width: 1060px;
    margin: 0 auto;
}
.col-blog-content{
    width: 50%;
    
}
.col-blog-content-3 {
    width: 50%;  
}
.col-blog-content-3{
    width: 50%;
}
.item_product{
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative; 
}

.blog-img{
    width: 100%;
    background: url('https://www.thebodyshop.ru/media/blog/Shea_obzor_top.jpg') center center /cover no-repeat;
    display: block;
    padding-top: 54%;
}
.blog-img-1 {
    background: url('https://www.thebodyshop.ru/media/blog/top-care.jpg') center center /cover no-repeat;
    display: block;
    padding-top: 54%;
    width: 100%;

}    
.blog-title h3 {
    position: absolute;
    right: 0;
    left: 5px;
    top: 38.5%;
    min-height: 77px;
    background-color: rgba(116, 107, 107, 0.4);
    width: calc(100% - 10px);
    color: white;
    padding: 10px 15px;
    text-align: left;
    font-size: 24px;
    text-transform: uppercase;
    
}
.blog-title h3 a {
    text-decoration: none;
    color: white;
}
.blog-text-btn {
    display: block;
    margin: 30px 10px 10px;
    font-size: 18px;
    line-height: 24px;
    padding: 0 7px;
    width: calc(100% - 180px);

}
.btn{
    border: 2px solid black;
    background-color: white;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
    position: absolute;
    right: 10px;
    bottom: 33%;
}
.btn:hover {
    background-color: black;
    color: white;
}
.brush{
    min-height: 400px;
    max-width: 1060px;
    margin: 50px auto;
    position: relative;
}
.blog-descr{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 33%;
}
.blog-img-brush {
    background: url('https://www.thebodyshop.ru/media/blog/6614/webimages-make-up-brush-range-increps012-m-r.jpg') center center/cover no-repeat;
    display: block;
    width: 66%;
    padding-top: 38%;
    overflow: hidden;

}

.blog-descr h4{
    margin-top: 25%;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.3;
    padding-left: 20px;
}
.blog-descr p {
    padding-top: 15px;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
}
.btn-1{
    border: 2px solid black;
    background-color: white;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 6%;
    bottom: 1%;
    
}
.btn-1:hover{
    background-color: black;
    color: white;  
}
.row-blog-content-1{
    display: flex;
    flex-wrap: nowrap;
    max-width: 1060px;
    margin: 0px auto;
    overflow: hidden;
}

.col-blog-2{
    width: calc(100% / 3);
}
.col-blog-2{
    width: calc(100% / 3);
}
.col-blog-2{
    width: calc(100% / 3);
}
.item-prod-new{
    padding: 50px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
   
}
.item-prod-new h4{
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column; 
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    
}
.blog-img-2 {
    background: url('https://www.thebodyshop.ru/media/blog/6656/about-marula-oil.png')center center/cover no-repeat;
    padding-top: 59%;
    width: 100%;
    display: block;
}
.blog-img-3 {
    background: url('https://www.thebodyshop.ru/media/wysiwyg/blog/7090/NY-make-top.jpg')center center/cover no-repeat;
    padding-top: 59%;
    width: 100%;
    display: block;
     
}
.blog-img-4 {
    background: url('https://www.thebodyshop.ru/media/blog/6726/maski.png')center center/cover no-repeat;
    padding-top: 59%;
    width: 100%;
    display: block;
     
}
.item-prod-new p{
    padding:10px;
    flex-grow: 1;
    font-size: 18px;
    line-height: 1.4;

}
.btn-2 {
    border: 2px solid black;
    background-color: white;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: center;

}
.btn-2:hover{
    background-color: black;
    color: white;
}

.row-blog-content-2{
    display: flex;
    flex-wrap: nowrap;
    width: 1060px;
    margin: 0 auto;
}
.col-blog-care {
    width: 50%;
    
}
.col-blog-care-3 {
    width: 50%;  
}
.col-blog-care-3{
    widows: 50%;
}
.item-product-care{
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative; 
}

.blog-img-5{
    background: url('https://www.thebodyshop.ru/media/blog/19082019/type_main.jpg') center/cover no-repeat;
    width: 100%;
    display: block;
    padding-top: 54%;
}
.blog-img-6{
    background: url('https://www.thebodyshop.ru/media/blog/6670/1.jpg')center/cover no-repeat;
    width: 100%;
    display: block;
    padding-top: 54%;
}
.blog-title-care h3{
    position: absolute;
    right: 0;
    left: 5px;
    bottom: 43%;
    min-height: 77px;
    background-color: rgba(116, 107, 107, 0.6);
    width: calc(100% - 8px);
    padding: 5px 10px;
    text-align: left;
    font-size: 24px;
    text-transform: uppercase;
    
}
.blog-title-care h3 a {
    text-decoration: none;
    color: white;
}
.blog-care-btn p {
    display: block;
    margin: 30px 10px 60px;
    font-size: 18px;
    line-height: 24px;
    padding: 0 7px;
    text-align: left;
    width: calc(100% - 180px);
    

}
.btn-3{
    border: 2px solid black;
    background-color: white;
    padding: 13px 25px;
    text-decoration: none;
    color: black;
    position: absolute;
    right: 10px;
    bottom: 27%;
}
.btn-3:hover {
    background-color: black;
    color: white;
}
.sect-footer{
    border-top: 1px solid rgba(192, 181, 181, 0.6);
    
}

.row-footer {
    display: flex;
    flex-wrap: nowrap;
    width: 1060px;
    margin: 0 auto;
    padding-top: 40px;
}

.col-2{
    width: calc(100% / 3);
}
.col-2{
    width: calc(100% / 3);
}
.col-2{
    width: calc(100% / 3);
    padding-right: 50px;
}
.row-footer .footer h6 {
    padding-bottom: 10px;
    text-transform: uppercase;
    margin: 0;
    font-size: 15px;
}
 .row-footer .footer > a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 3px;
    font-size: 14px;
    
}
.footer-inform{
    margin-left: 150px;
}
.footer-inform h6 {
    padding-bottom: 10px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    font-size: 15px;
}
.footer-inform input {
    border: 1px solid black;
    color: black;
    padding: 12px 30px 12px 10px;
    font-size: 15px;

}
.footer-inform .btn-footer {
    margin-left: -5px;
    background-color:black;
    padding: 15px 25px 13px;
    text-decoration: none;
    color:white;
    font-size: 14px;
 
}
.footer-inform p {
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: black;
    padding: 8px 10px 0 10px;
    
}
.support {
    margin:20px 0;
}
.footer-inform a[href*="mailto"] {
    color: black;
    font-size: 14px;
    display: block;
    padding-top: 10px;
}
.social  a {
    padding-right: 50px;
}
.social {
    padding: 15px 0;
}
    @media (max-width: 767px){
        #menu__toggle {
            opacity: 0;
          }
          .menu__btn {
            position: fixed;
            top: 20px;
            left: 20px;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 1;
          }
          .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    display: block;
     position: absolute;
     width: 100%;
    height: 2px;
    background-color: #616161;
    }
    .menu__btn > span::before {
    content: '';
    top: -8px;
    }
    .menu__btn > span::after {
    content: '';
    top: 8px;
}

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      }
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
    }
    