input:focus {
    border-color: red;
}

input[pattern]:invalid {
    background-color: red;

}
input[pattern]:valid {
    background-color: green;

}
tr:nth-of-type(even) {
background-color:white;
}

tr:nth-of-type(odd) {
    background-color:gainsboro;
}

tr::before {
    content:'\2740';
}

tr::after {
    content:'\2740';
}

caption >strong::before {
    content: '\2710';
}

caption >strong::after {
    content: '\2710';
}
textarea:required {
    border-color: rgb(255, 110, 105);
    border-width: 2px;
}

input[type="radio"]:checked {
    margin-left: 25px;
    border: 1px solid blue;
}

 label:hover {
    background-color: grey;
 }

 input[type=checkbox]:default {
     background-color: lightgreen;
 }

 select:active {
     background: lightgreen;
 }

 button[type="submit"]:hover {
     background-color: magenta;
     border-radius: 20px;  
}

button[type="reset"] {
    color: mediumblue;
    background-color: mediumslateblue;
    border-radius: 20px; 
}

button[type="submit"] {
    color: midnightblue;
    border-radius: 20px;
    background-color: orchid;
}

input[type=password] {
    background-color: palegoldenrod;
}

:defined {
    font-style: italic;
}

:empty {
    color:orange;
}

input:disabled {
    font-style: normal;
}

input[type="text"]:focus {
    border: 2px;
    border: blue;
    box-shadow: cornflowerblue;
    
}
tfoot td:not(.rating) {
    color: firebrick;
}
td:target{
   background-color: gold; 
}

td:target::before {
    content: '\2714';
    margin-right: 10px;
    color: greenyellow;
}
tr:nth-last-child(3n+3) {
    color: indigo;
}

th:first-child {
    color: magenta;
}

th:nth-child(2) {
    color: magenta;
}
caption strong {
    color: mediumvioletred;
}
/* Button */

button[type="submit1"] {
    display: none;
}
input.submit1:checked ~ button[type="submit1"] {
    display: block;
}
button[type="reset1"] {
    display: none;
}
input.reset1:checked ~ button[type="reset1"] {
    display: block;
}

            /* Example 2  */

div.container1 {
    display: block;
    background-color: palegreen;
    width: 300px;
}
p {
    display: none;
}
.one, .two {
    display: none;
}
.title {
    padding: 10px;
    display: block;
    font-weight: normal;
    font-style: italic;
    cursor: pointer; 
}
.tab2 {
border: 1px solid #e9eaec;
    border-radius: 2px;
    color:black;

}

.title:after {
    content: "+";
    float: right;
} 

.one:checked + .title:after {
    content: "-";
}

:checked ~ p.opened {
    display: block;
}

            /* Exsemple3 */

.container2 {

    width: 500px;
 }           

.four,.content {
    display: none;
}

.tab {
    border: 1px solid #e9eaec;
    border-radius: 2px;
    color: blue;
    margin-bottom: 10px;
    
}
.five {
    padding: 10px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.five:after {
    content: "+";
    float: right;
}

.content {
    padding: 10px 20px;
}

.tab :checked + .five {
    background-color: blueviolet;
    border-radius: 3px 3px 0 0;
    color: red;
}
.tab :checked + .five:after {
    content: "-";
}
.tab :checked ~ .content {
    display: block;
}
 
        /* Exsemple3 */

.conten {
    /* display: block; */
    width: 300px;
}

.seven, .text {
    display: none;
}

.tab1 {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #e9eaec;
    border-radius: 2px;
    color:green;
    margin-bottom: 10px;
    
}
.label-title {
    padding: 10px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.label-title::after {
    content: "\2611";
    float: right;
}

.text {
    padding: 10px 20px;
}
.tab1 :checked + .label-title {
    background-color: greenyellow;
    border-radius: 2px 2px 0 0;
   
}
.tab1 :checked ~ .text {
    display: block;
}









