*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: normal;
}
.color{
    background: rgba(235, 238, 206, 0.5);
    border-bottom: 2px solid saddlebrown;  
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 px;
}
 .menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style-type:none;
    padding: 15px 15px 0;
    cursor: pointer;
    
}
.menu li {
    position: relative;;

}


.menu > li > a {
    text-decoration: none;
    display: block;
    padding: 5px;
    transition: all .5s  ease-in;
    color: rgb(88, 61, 20);
    -webkit-transition: all .5s  ease-in;
    -moz-transition: all .5s  ease-in;
    -ms-transition: all .5s  ease-in;
    -o-transition: all .5s  ease-in;
}

.submenu > li{
    list-style: none;
}

.submenu > li > a {
    text-decoration: none;
    display: block;
    padding: 5px;
    transition: all .5s linear;
    color: rgb(88, 61, 20);
    border-bottom: 1px solid rgba(241, 209, 159, 0.1);
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
}
.menu li > .submenu {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    background-color: rgba(210, 214, 175, 0.5);
    left: 0;
    right: 0;
    width: 300px;
    opacity: 0;
    transition: all .5s  linear;
    -webkit-transition: all .5s  linear;
    -moz-transition: all .5s  linear;
    -ms-transition: all .5s  linear;
    -o-transition: all .5s  linear;
}
.menu li:hover > .submenu{
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    width: 250px;
    
    
}
.menu li > .submenu.level-2,
 .menu li >.submenu.level-3{ 
    top: 0;
    left: 100%;
    width: 100%;
}
a.arrow-1,a.arrow-2{
    position: relative;
}
 
 a.arrow-1:hover:after {
     content: '\232A';
     position: absolute;
     left: 240px;
     
}
