*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: normal;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 px;

}

 .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    list-style-type:none;
    background: rgba(129, 206, 28, 0.5);
    border-bottom: 2px solid rgb(12, 27, 5);
    
}
.menu li {
    position: relative;;

}


.menu > li > a {
    text-decoration: none;
    display: block;
    padding: 15px 50px 15px;
    transition: all .5s ease-in-out;
    color: rgb(12, 27, 5);
    
}

.submenu > li{
    list-style: none;
}

.submenu > li > a {
    text-decoration: none;
    display: block;
    padding: 5px;
    transition: all .5s linear;
    color: rgb(12, 27, 5);
    border-bottom: 1px solid rgba(241, 209, 159, 0.1);
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
}
.menu li > .submenu {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    background-color: rgba(210, 214, 175, 0.9);
    left: 0;
    right: 0;
    width: 300px;
    opacity: 0;
    transition: all .5s  linear;
    -webkit-transition: all .5s  linear;
    -moz-transition: all .5s  linear;
    -ms-transition: all .5s  linear;
    -o-transition: all .5s  linear;
}
.menu li:hover > .submenu{
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    width: 250px;
    
    
}
.menu li > .submenu.level-2,
 .menu li >.submenu.level-3{ 
    top: 0;
    left: 100%;
    width: 100%;
}
a.arrow-1,a.arrow-2{
    position: relative;
}
 
 a.arrow-1:after {
     content: '\232A';
     position: absolute;
     left: 240px;
     
}
.background-title {
    height: 500px;
    background: url('https://www.thebodyshop.ru/media/blog/blog-top4.jpg') center no-repeat;
    position: relative;
}
.news{
    position: absolute;
    width: 1060px;
    background-color: white;
    top: 320px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 1.2;
    padding: 60px 15px;
}
.news h1 {
    margin: 15px 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.news strong {
    font-size: 29px;
    font-weight: 400;
 
}
.nav ul {
    display: flex;
    justify-content:center;
    align-items: center;
    list-style-type: none;
    margin: 10px 40px;
}
.nav{
    position: relative;
   
}
.nav li a {
    display: block;
    padding: 50px 70px;
    transition: all .5s ease-in-out;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    
}
.blog-item{
    display: flex;
    flex-wrap: nowrap;
}
.

